/* Bellefair 400 --> font-family: 'Bellefair', serif; */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

/* Barlow condensed 400 --> font-family: 'Barlow Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

*{
    margin: 0;
}

:root{
    --white: #FFFFFF;
    --aqua: #D0D6F9;
    --dark: #0b0d17;
}

.container{
    height: 100vh;
    /* background image HOME */
    background-image: url('../assets/home/background-home-desktop.jpg'); 
    /* background image DESTINATION
    background-image: url('../assets/destination/background-destination-desktop.jpg');
    background image CREW
    background-image: url('../assets/crew/background-crew-desktop.jpg');
    background image TECHNOLOGY
    background-image: url('../assets/technology/background-technology-desktop.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container .header{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header img{
    margin-left: 50px;
}

.container .header nav{
    width: 800px;
    height: 85px;
    background-color: #47474729;
    backdrop-filter: blur(10px);
}

.container .header nav ul{
    height: 100%;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-right: 75px;
}

.container .header nav ul li a{
    text-decoration: none;
    color: var(--white);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
}

.container .header .line{
    background-color: rgb(112, 112, 112, 0.5);
    height: 1px;
    width: 500px;
    position: absolute;
    top: 50%;
    right: 97%;
}

/* HOME */

.container .contentHome{
    height: 750px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contentHome div{
    width: 78%;
    display: flex;
    justify-content: space-between;
}

.container .contentHome div .presentation{
    width: 475px;
    height: 375px;
    display: flex;
    flex-direction: column;
}

.container .contentHome div .presentation h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
    color: var(--aqua);
}

.container .contentHome div .presentation h1{
    font-family: 'Bellefair', serif;
    font-size: 150px;
    font-weight: 400;
}

.container .contentHome div .presentation p{
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--aqua);
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 36px;
    text-align: justify;
}

.container .contentHome div .explore{
    width: 475px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.container .contentHome div .explore button{
    width: 275px;
    height: 275px;
    border-radius: 50%;
    font-family: 'Bellefair', serif;
    background-color: var(--white);
    border: none;
    color: var(--dark);
    font-size: 34px;
}

/* DESTINATION MOON */

.container .contentDestinationMoon{
    height: 750px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contentDestinationMoon div{
    width: 78%;
    display: flex;
    justify-content: space-between;
}

.container .contentDestinationMoon div .image{
    width: 475px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container .contentDestinationMoon div .image span{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255, 0.25);
    margin-right: 10px;
}

.container .contentDestinationMoon div .image h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: 300;
    align-self: flex-start;
}

.container .contentDestinationMoon div .image img{
    width: 400px;
}

.container .contentDestinationMoon div .info{
    width: 475px;
    height: 500px;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container .contentDestinationMoon div .info nav{
    margin-left: -40px;
    margin-bottom: 25px;
}

.container .contentDestinationMoon div .info nav ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.container .contentDestinationMoon div .info nav ul li a{
    text-decoration: none;
    color: var(--aqua);
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 3px;
}

.container .contentDestinationMoon div .info h2{
    font-family: 'Bellefair', serif;
    font-size: 100px;
    font-weight: 300;
}

.container .contentDestinationMoon div .info p{
    width: 95%;
    height: 200px;
    color: var(--aqua);
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 36px;
}

.container .contentDestinationMoon div .info .line{
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255, 0.25);
}

.container .contentDestinationMoon div .info .distanceAndTravel .distance{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .contentDestinationMoon div .info .distanceAndTravel .distance h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    color: var(--aqua);
    letter-spacing: 2.36px;
}

.container .contentDestinationMoon div .info .distanceAndTravel .distance h1{
    font-family: 'Bellefair', serif;
    font-size: 28px;
    color: var(--white);
    font-weight: 300;
}

.container .contentDestinationMoon div .info .distanceAndTravel .travel{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .contentDestinationMoon div .info .distanceAndTravel .travel h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    color: var(--aqua);
    letter-spacing: 2.36px;
}

.container .contentDestinationMoon div .info .distanceAndTravel .travel h1{
    font-family: 'Bellefair', serif;
    font-size: 28px;
    color: var(--white);
    font-weight: 300;
}

/* DESTINATION MARS */

.container .contentDestinationMars{
    height: 750px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contentDestinationMars div{
    width: 78%;
    display: flex;
    justify-content: space-between;
}

.container .contentDestinationMars div .image{
    width: 475px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container .contentDestinationMars div .image span{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255, 0.25);
    margin-right: 10px;
}

.container .contentDestinationMars div .image h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: 300;
    align-self: flex-start;
}

.container .contentDestinationMars div .image img{
    width: 400px;
}

.container .contentDestinationMars div .info{
    width: 475px;
    height: 500px;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container .contentDestinationMars div .info nav{
    margin-left: -40px;
    margin-bottom: 25px;
}

.container .contentDestinationMars div .info nav ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.container .contentDestinationMars div .info nav ul li a{
    text-decoration: none;
    color: var(--aqua);
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 3px;
}

.container .contentDestinationMars div .info h2{
    font-family: 'Bellefair', serif;
    font-size: 100px;
    font-weight: 300;
}

.container .contentDestinationMars div .info p{
    width: 95%;
    height: 200px;
    color: var(--aqua);
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 36px;
}

.container .contentDestinationMars div .info .line{
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255, 0.25);
}

.container .contentDestinationMars div .info .distanceAndTravel .distance{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .contentDestinationMars div .info .distanceAndTravel .distance h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    color: var(--aqua);
    letter-spacing: 2.36px;
}

.container .contentDestinationMars div .info .distanceAndTravel .distance h1{
    font-family: 'Bellefair', serif;
    font-size: 28px;
    color: var(--white);
    font-weight: 300;
}

.container .contentDestinationMars div .info .distanceAndTravel .travel{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .contentDestinationMars div .info .distanceAndTravel .travel h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    color: var(--aqua);
    letter-spacing: 2.36px;
}

.container .contentDestinationMars div .info .distanceAndTravel .travel h1{
    font-family: 'Bellefair', serif;
    font-size: 28px;
    color: var(--white);
    font-weight: 300;
}

/* DESTINATION EUROPA */

.container .contentDestinationEuropa{
    height: 750px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contentDestinationEuropa div{
    width: 78%;
    display: flex;
    justify-content: space-between;
}

.container .contentDestinationEuropa div .image{
    width: 475px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container .contentDestinationEuropa div .image span{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255, 0.25);
    margin-right: 10px;
}

.container .contentDestinationEuropa div .image h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: 300;
    align-self: flex-start;
}

.container .contentDestinationEuropa div .image img{
    width: 400px;
}

.container .contentDestinationEuropa div .info{
    width: 475px;
    height: 500px;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container .contentDestinationEuropa div .info nav{
    margin-left: -40px;
    margin-bottom: 25px;
}

.container .contentDestinationEuropa div .info nav ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.container .contentDestinationEuropa div .info nav ul li a{
    text-decoration: none;
    color: var(--aqua);
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 3px;
}

.container .contentDestinationEuropa div .info h2{
    font-family: 'Bellefair', serif;
    font-size: 100px;
    font-weight: 300;
}

.container .contentDestinationEuropa div .info p{
    width: 95%;
    height: 200px;
    color: var(--aqua);
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 36px;
}

.container .contentDestinationEuropa div .info .line{
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255, 0.25);
}

.container .contentDestinationEuropa div .info .distanceAndTravel .distance{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .contentDestinationEuropa div .info .distanceAndTravel .distance h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    color: var(--aqua);
    letter-spacing: 2.36px;
}

.container .contentDestinationEuropa div .info .distanceAndTravel .distance h1{
    font-family: 'Bellefair', serif;
    font-size: 28px;
    color: var(--white);
    font-weight: 300;
}

.container .contentDestinationEuropa div .info .distanceAndTravel .travel{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .contentDestinationEuropa div .info .distanceAndTravel .travel h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    color: var(--aqua);
    letter-spacing: 2.36px;
}

.container .contentDestinationEuropa div .info .distanceAndTravel .travel h1{
    font-family: 'Bellefair', serif;
    font-size: 28px;
    color: var(--white);
    font-weight: 300;
}

/* DESTINATION TITAN */

.container .contentDestinationTitan{
    height: 750px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contentDestinationTitan div{
    width: 78%;
    display: flex;
    justify-content: space-between;
}

.container .contentDestinationTitan div .image{
    width: 475px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container .contentDestinationTitan div .image span{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255, 0.25);
    margin-right: 10px;
}

.container .contentDestinationTitan div .image h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: 300;
    align-self: flex-start;
}

.container .contentDestinationTitan div .image img{
    width: 400px;
}

.container .contentDestinationTitan div .info{
    width: 475px;
    height: 500px;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container .contentDestinationTitan div .info nav{
    margin-left: -40px;
    margin-bottom: 25px;
}

.container .contentDestinationTitan div .info nav ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.container .contentDestinationTitan div .info nav ul li a{
    text-decoration: none;
    color: var(--aqua);
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 3px;
}

.container .contentDestinationTitan div .info h2{
    font-family: 'Bellefair', serif;
    font-size: 100px;
    font-weight: 300;
}

.container .contentDestinationTitan div .info p{
    width: 95%;
    height: 200px;
    color: var(--aqua);
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 36px;
}

.container .contentDestinationTitan div .info .line{
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255, 0.25);
}

.container .contentDestinationTitan div .info .distanceAndTravel .distance{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .contentDestinationTitan div .info .distanceAndTravel .distance h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    color: var(--aqua);
    letter-spacing: 2.36px;
}

.container .contentDestinationTitan div .info .distanceAndTravel .distance h1{
    font-family: 'Bellefair', serif;
    font-size: 28px;
    color: var(--white);
    font-weight: 300;
}

.container .contentDestinationTitan div .info .distanceAndTravel .travel{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .contentDestinationTitan div .info .distanceAndTravel .travel h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    color: var(--aqua);
    letter-spacing: 2.36px;
}

.container .contentDestinationTitan div .info .distanceAndTravel .travel h1{
    font-family: 'Bellefair', serif;
    font-size: 28px;
    color: var(--white);
    font-weight: 300;
}

/* CREW DOUGLAS HURLEY */

.container .contentCrewDouglas{
    height: 750px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contentCrewDouglas div{
    width: 78%;
    display: flex;
    justify-content: space-between;
}

.container .contentCrewDouglas div .info{
    width: 650px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container .contentCrewDouglas div .info span{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255, 0.25);
    margin-right: 10px;
}

.container .contentCrewDouglas div .info h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: 300;
    align-self: flex-start;
}

.container .contentCrewDouglas div .info .userData{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.container .contentCrewDouglas div .info .userData h4{
    font-family: 'Bellefair', serif;
    font-size: 32px;
    color: rgb(255, 255, 255, 0.5);
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 50px;
}

.container .contentCrewDouglas div .info .userData h3{
    font-family: 'Bellefair', serif;
    font-size: 56px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    margin-bottom: 20px;
}

.container .contentCrewDouglas div .info .userData p{
    width: 80%;
    height: 200px;
    color: var(--aqua);
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 36px;
}

.container .contentCrewDouglas div .info .carrousel{
    height: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
    align-self: flex-start;
}

.container .contentCrewDouglas div .info .carrousel div{
    height: 12px;
    width: 12px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
}

.container .contentCrewDouglas div .image{
    width: 400px;
    height: 100%;  
    justify-content: end;
    align-items: end;  
}

/* CREW MARK SHUTTLEWORTH */

.container .contentCrewMark{
    height: 750px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contentCrewMark div{
    width: 78%;
    display: flex;
    justify-content: space-between;
}

.container .contentCrewMark div .info{
    width: 650px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container .contentCrewMark div .info span{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255, 0.25);
    margin-right: 10px;
}

.container .contentCrewMark div .info h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: 300;
    align-self: flex-start;
}

.container .contentCrewMark div .info .userData{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.container .contentCrewMark div .info .userData h4{
    font-family: 'Bellefair', serif;
    font-size: 32px;
    color: rgb(255, 255, 255, 0.5);
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 50px;
}

.container .contentCrewMark div .info .userData h3{
    font-family: 'Bellefair', serif;
    font-size: 56px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    margin-bottom: 20px;
}

.container .contentCrewMark div .info .userData p{
    width: 80%;
    height: 200px;
    color: var(--aqua);
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 36px;
}

.container .contentCrewMark div .info .carrousel{
    height: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
    align-self: flex-start;
}

.container .contentCrewMark div .info .carrousel div{
    height: 12px;
    width: 12px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
}

.container .contentCrewMark div .image{
    width: 400px;
    height: 100%;  
    justify-content: end;
    align-items: end;  
}

/* CREW VICTOR GLOVER */

.container .contentCrewVictor{
    height: 750px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contentCrewVictor div{
    width: 78%;
    display: flex;
    justify-content: space-between;
}

.container .contentCrewVictor div .info{
    width: 650px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container .contentCrewVictor div .info span{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255, 0.25);
    margin-right: 10px;
}

.container .contentCrewVictor div .info h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: 300;
    align-self: flex-start;
}

.container .contentCrewVictor div .info .userData{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.container .contentCrewVictor div .info .userData h4{
    font-family: 'Bellefair', serif;
    font-size: 32px;
    color: rgb(255, 255, 255, 0.5);
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 50px;
}

.container .contentCrewVictor div .info .userData h3{
    font-family: 'Bellefair', serif;
    font-size: 56px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    margin-bottom: 20px;
}

.container .contentCrewVictor div .info .userData p{
    width: 80%;
    height: 200px;
    color: var(--aqua);
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 36px;
}

.container .contentCrewVictor div .info .carrousel{
    height: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
    align-self: flex-start;
}

.container .contentCrewVictor div .info .carrousel div{
    height: 12px;
    width: 12px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
}

.container .contentCrewVictor div .image{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

/* CREW ANOUSHEH ANSARI */

.container .contentCrewAnousheh{
    height: 750px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contentCrewAnousheh div{
    width: 78%;
    display: flex;
    justify-content: space-between;
}

.container .contentCrewAnousheh div .info{
    width: 650px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container .contentCrewAnousheh div .info span{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255, 0.25);
    margin-right: 10px;
}

.container .contentCrewAnousheh div .info h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: 300;
    align-self: flex-start;
}

.container .contentCrewAnousheh div .info .userData{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.container .contentCrewAnousheh div .info .userData h4{
    font-family: 'Bellefair', serif;
    font-size: 32px;
    color: rgb(255, 255, 255, 0.5);
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 50px;
}

.container .contentCrewAnousheh div .info .userData h3{
    font-family: 'Bellefair', serif;
    font-size: 56px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    margin-bottom: 20px;
}

.container .contentCrewAnousheh div .info .userData p{
    width: 80%;
    height: 200px;
    color: var(--aqua);
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 36px;
}

.container .contentCrewAnousheh div .info .carrousel{
    height: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
    align-self: flex-start;
}

.container .contentCrewAnousheh div .info .carrousel div{
    height: 12px;
    width: 12px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
}

.container .contentCrewAnousheh div .image{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

/* TECHNOLOGY LAUNCH VEHICLE */

.container .contentTechnologyLaunch{
    height: 750px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contentTechnologyLaunch div{
    width: 78%;
    display: flex;
    justify-content: space-between;
    
}

.container .contentTechnologyLaunch div .info{
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.container .contentTechnologyLaunch div .info span{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255, 0.25);
    margin-right: 10px;
}

.container .contentTechnologyLaunch div .info h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: 300;
    align-self: flex-start;
    margin-bottom: 150px;
}

.container .contentTechnologyLaunch div .info .content{
    height: 100%;
    width: 100%;
    display: flex;
    align-self: flex-start;
}

.container .contentTechnologyLaunch div .info .content .carrousel{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.container .contentTechnologyLaunch div .info .content .carrousel div{
    font-family: 'Bellefair', serif;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 300;
}

.container .contentTechnologyLaunch div .info .content .description{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.container .contentTechnologyLaunch div .info .content .description h6{
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.7px;
    font-size: 16px;
    color: var(--aqua);
    font-weight: 300;
    margin-bottom: 10px;
}

.container .contentTechnologyLaunch div .info .content .description h3{
    font-family: 'Bellefair', serif;
    font-size: 56px;
    font-weight: 300;
    margin-bottom: 20px;
}

.container .contentTechnologyLaunch div .info .content .description p{
    width: 80%;
    height: 200px;
    color: var(--aqua);
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 36px;
}

.container .contentTechnologyLaunch div .image{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    top: -12%;
    left: 70%;
}

/* TECHNOLOGY SPACEPORT */

.container .contentTechnologySpaceport{
    height: 750px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contentTechnologySpaceport div{
    width: 78%;
    display: flex;
    justify-content: space-between;
    
}

.container .contentTechnologySpaceport div .info{
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.container .contentTechnologySpaceport div .info span{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255, 0.25);
    margin-right: 10px;
}

.container .contentTechnologySpaceport div .info h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: 300;
    align-self: flex-start;
    margin-bottom: 150px;
}

.container .contentTechnologySpaceport div .info .content{
    height: 100%;
    width: 100%;
    display: flex;
    align-self: flex-start;
}

.container .contentTechnologySpaceport div .info .content .carrousel{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.container .contentTechnologySpaceport div .info .content .carrousel div{
    font-family: 'Bellefair', serif;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 300;
}

.container .contentTechnologySpaceport div .info .content .description{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.container .contentTechnologySpaceport div .info .content .description h6{
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.7px;
    font-size: 16px;
    color: var(--aqua);
    font-weight: 300;
    margin-bottom: 10px;
}

.container .contentTechnologySpaceport div .info .content .description h3{
    font-family: 'Bellefair', serif;
    font-size: 56px;
    font-weight: 300;
    margin-bottom: 20px;
}

.container .contentTechnologySpaceport div .info .content .description p{
    width: 80%;
    height: 200px;
    color: var(--aqua);
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 36px;
}

.container .contentTechnologySpaceport div .image{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    top: -12%;
    left: 70%;
}

/* TECHNOLOGY SPACE CAPSULE */

.container .contentTechnologySpaceCapsule{
    height: 750px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contentTechnologySpaceCapsule div{
    width: 78%;
    display: flex;
    justify-content: space-between;
    
}

.container .contentTechnologySpaceCapsule div .info{
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.container .contentTechnologySpaceCapsule div .info span{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255, 0.25);
    margin-right: 10px;
}

.container .contentTechnologySpaceCapsule div .info h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: 300;
    align-self: flex-start;
    margin-bottom: 150px;
}

.container .contentTechnologySpaceCapsule div .info .content{
    height: 100%;
    width: 100%;
    display: flex;
    align-self: flex-start;
}

.container .contentTechnologySpaceCapsule div .info .content .carrousel{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.container .contentTechnologySpaceCapsule div .info .content .carrousel div{
    font-family: 'Bellefair', serif;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 300;
}

.container .contentTechnologySpaceCapsule div .info .content .description{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.container .contentTechnologySpaceCapsule div .info .content .description h6{
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.7px;
    font-size: 16px;
    color: var(--aqua);
    font-weight: 300;
    margin-bottom: 10px;
}

.container .contentTechnologySpaceCapsule div .info .content .description h3{
    font-family: 'Bellefair', serif;
    font-size: 56px;
    font-weight: 300;
    margin-bottom: 20px;
}

.container .contentTechnologySpaceCapsule div .info .content .description p{
    width: 80%;
    height: 200px;
    color: var(--aqua);
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 36px;
}

.container .contentTechnologySpaceCapsule div .image{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    top: -12%;
    left: 70%;
}














