/* Bellefair 400 --> font-family: 'Bellefair', serif; */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

/* Barlow condensed 400 --> font-family: 'Barlow Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

*{
    margin: 0;
}

:root{
    --white: #FFFFFF;
    --aqua: #D0D6F9;
    --dark: #0b0d17;
}

.container{
    height: 100vh;
    background-image: url('../assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container .header{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header img{
    margin-left: 50px;
}

.container .header nav{
    width: 800px;
    height: 85px;
    background-color: #47474729;
    backdrop-filter: blur(10px);
}

.container .header nav ul{
    height: 100%;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-right: 75px;
}

.container .header nav ul li a{
    text-decoration: none;
    color: var(--white);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
}

.container .header .line{
    background-color: rgb(112, 112, 112, 0.5);
    height: 1px;
    width: 500px;
    position: absolute;
    top: 50%;
    right: 97%;
}

.container .content{
    height: 750px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content div{
    width: 78%;
    display: flex;
    justify-content: space-between;
}

.container .content div .presentation{
    width: 475px;
    height: 375px;
    display: flex;
    flex-direction: column;
}

.container .content div .presentation h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
    color: var(--aqua);
}

.container .content div .presentation h1{
    font-family: 'Bellefair', serif;
    font-size: 150px;
    font-weight: 400;
}

.container .content div .presentation p{
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--aqua);
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 36px;
    text-align: justify;
}

.container .content div .explore{
    width: 475px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.container .content div .explore button{
    width: 275px;
    height: 275px;
    border-radius: 50%;
    font-family: 'Bellefair', serif;
    background-color: var(--white);
    border: none;
    color: var(--dark);
    font-size: 34px;
}

